.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  .loader {
    margin: auto auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #6540b5;
    border-right: 16px solid #9a52d2;
    border-bottom: 16px solid #d7833e;
    border-left: 16px solid #ffc866;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loader-animation {
  0% {
    left: -100%;
  }
  49% {
    left: 100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
.loader {
  height: 5px;
  width: 100%;
  overflow: hidden;
}
.loader .bar {
  position: relative;
  height: 5px;
  width: 100%;
  background: linear-gradient(45deg, #905aff 0%, #daa1ff 50%, #ffcb9d);
  animation-name: loader-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}