.settings-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .item{
    font-size: 45px;
    flex-grow: 1;
    width: 33%;
    justify-content:center;
    align-items: center;
    display: flex;
    margin-bottom:30px;
    &.active{
      color:#ff96fb;
    }
  }
}